.red-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-color: white;
  }

  .pushed {
    transform: translate(-50%, -50%) scale(0.9);
  }
  